.worders {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.margin{
    margin-bottom: 35px;
}


.header {
  padding: 16px;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.timeline-container {
  flex: 1;
  width: 100vw;
  overflow: auto;
}
.details-container {
  position: fixed;
  top: 0;
  right: 0;

  width: 520px;
  height: 100vh;

  background: #fff;
  border-left: 1px solid #e6e6e6;
  z-index: 1000;

  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.08);
}