<div class="timeline">

  <!-- SCHEDULE HEADER -->
  <div class="timeline-header">
    <div class="timeline-header-cell work-center-header">
      Work Center
    </div>

    <div
      class="timeline-header-cell"
      *ngFor="let slot of timeSlots"
    >
      {{ formatHeader(slot) }}
    </div>
  </div>

  <!-- SCHEDULE BODY -->
  <div
    class="timeline-row"
    *ngFor="let center of workCenters"
  >
    <div class="timeline-cell work-center-cell">
      {{ center.label }}
    </div>

    <div
      class="timeline-cell"
      *ngFor="let day of days"
    ></div>
  </div>

</div>
