
.work-centers-title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #687196;
    font-weight: lighter;
}

.active {
  background: yellow;
}

section {
  margin: 20px 0 20px 0;
}

#timeContainer{
  text-align: center;
}

